<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="src/images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/variables.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="https://unpkg.com/vue-smooth-scroll@1.0.11"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/combine/npm/vuelidate@0.7.5/dist/vuelidate.min.js,npm/vuelidate@0.7.5/dist/validators.min.js"
    ></script>
    <script defer src="js/app.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Fylo Page</title>
  </head>
  <body>
    <div id="app">
      <header
        :class="{ 'header--hidden': !header.showHeader, 'header--coloured': header.headerColoured }"
        class="header"
      >
        <div class="header__content">
          <div class="header__logo">
            <a href="#app" v-smooth-scroll
              ><img src="./src/images/logo.svg" alt="Fylo Logo"
            /></a>
          </div>
          <nav class="header__links">
            <a href="#features" v-smooth-scroll class="header__link link"
              >Features</a
            >
            <a href="#reviews" v-smooth-scroll class="header__link link"
              >Reviews</a
            >
            <a href="#try" v-smooth-scroll class="header__link link">Try</a>
          </nav>
        </div>
      </header>
      <section class="intro container">
        <div class="content-wrapper">
          <div data-aos="fade-in" data-aos-duration="3000" class="intro__image">
            <img src="src/images/illustration-intro.png" alt="" />
          </div>
          <div data-aos="fade-in" data-aos-duration="3000" class="intro__info">
            <h2 class="intro__title title title--h2">
              All your files in one secure location, accessible anywhere.
            </h2>
            <p class="intro__text text">
              Fylo stores all your most important files in one secure location.
              Access them wherever you need, share and collaborate with friends
              family, and co-workers.
            </p>
            <a
              href="#try"
              v-smooth-scroll
              class="intro__btn base-btn base-btn--link"
            >
              Get Started
            </a>
          </div>
        </div>
      </section>
      <section id="features" class="features container">
        <div class="content-wrapper">
          <div class="features__grid">
            <div data-aos="fade-up" class="features__item">
              <div class="features__image">
                <img src="src/images/icon-access-anywhere.svg" alt="" />
              </div>
              <h3 class="features__title title title--h3">
                Access your files, anywhere
              </h3>
              <p class="features__text text">
                The ability to use a smartphone, tablet, or computer to access
                your account means your files follow you everywhere.
              </p>
            </div>
            <div data-aos="fade-up" class="features__item">
              <div class="features__image">
                <img src="src/images/icon-security.svg" alt="" />
              </div>
              <h3 class="features__title title title--h3">
                Security you can trust
              </h3>
              <p class="features__text text">
                2-factor authentication and user-controlled encryption are just
                a couple of the security features we allow to help secure your
                files.
              </p>
            </div>
            <div data-aos="fade-up" class="features__item">
              <div class="features__image">
                <img src="src/images/icon-collaboration.svg" alt="" />
              </div>
              <h3 class="features__title title title--h3">
                Real-time collaboration
              </h3>
              <p class="features__text text">
                Securely share files and folders with friends, family and
                colleagues for live collaboration. No email attachments
                required.
              </p>
            </div>
            <div data-aos="fade-up" class="features__item">
              <div class="features__image">
                <img src="src/images/icon-any-file.svg" alt="" />
              </div>
              <h3 class="features__title title title--h3">
                Store any type of file
              </h3>
              <p class="features__text text">
                Whether you're sharing holidays photos or work documents, Fylo
                has you covered allowing for all file types to be securely
                stored and shared.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="share container">
        <div class="content-wrapper">
          <div class="share__row">
            <div
              data-aos="flip-left"
              data-aos-duration="1000"
              class="share__image"
            >
              <img src="src/images/illustration-stay-productive.png" alt="" />
            </div>
            <div data-aos="fade-up" data-aos-duration="500" class="share__info">
              <h3 class="share__title title title--h2">
                Stay productive, wherever you are
              </h3>
              <p class="share__text text text--lg">
                Never let location be an issue when accessing your files. Fylo
                has you covered for all of your file storage needs.
              </p>
              <p class="share__text text text--lg">
                Securely share files and folders with friends, family and
                colleagues for live collaboration. No email attachments
                required.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="reviews" class="reviews container">
        <div class="content-wrapper">
          <div class="reviews__row">
            <div class="card" data-aos="fade-up" data-aos-duration="300">
              <div class="card__content">
                <div class="card__text text text--md">
                  Fylo has improved our team productivity by an order of
                  magnitude. Since making the switch our team has become a
                  well-oiled collaboration machine.
                </div>
                <div class="card-author">
                  <div class="card-author__logo">
                    <img src="src/images/profile-1.jpg" alt="" />
                  </div>
                  <div class="card-author__info">
                    <p class="card-author__name text text--bold text--sm">
                      Satish Patel
                    </p>
                    <p class="card-author__position text text--sm">
                      Founder & CEO, Huddle
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="600" class="card">
              <div class="card__content">
                <div class="card__text text text--md">
                  Fylo has improved our team productivity by an order of
                  magnitude. Since making the switch our team has become a
                  well-oiled collaboration machine.
                </div>
                <div class="card-author">
                  <div class="card-author__logo">
                    <img src="src/images/profile-2.jpg" alt="" />
                  </div>
                  <div class="card-author__info">
                    <p class="card-author__name text text--bold text--sm">
                      Bruce McKenzie
                    </p>
                    <p class="card-author__position text text--sm">
                      Founder & CEO, Huddle
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="card">
              <div class="card__content">
                <div class="card__text text text--md">
                  Fylo has improved our team productivity by an order of
                  magnitude. Since making the switch our team has become a
                  well-oiled collaboration machine.
                </div>
                <div class="card-author">
                  <div class="card-author__logo">
                    <img src="src/images/profile-3.jpg" alt="" />
                  </div>
                  <div class="card-author__info">
                    <p class="card-author__name text text--bold text--sm">
                      Iva Boyd
                    </p>
                    <p class="card-author__position text text--sm">
                      Founder & CEO, Huddle
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="form container">
        <div
          data-aos="fade-in"
          data-aos-duration="2000"
          class="content-wrapper"
        >
          <div id="try" class="form__wrapper">
            <form class="form__inner-content" action="#">
              <div v-if="!form.isFormSent" class="form__text">
                <h3 class="form__title title title--h2">
                  Get early access today
                </h3>
                <p class="form__text text text--lg">
                  It only takes a minute to sign up and our free starter tier is
                  extremely generous. If you have any questions, our support
                  team would be happy to help you.
                </p>
              </div>
              <div v-if="form.isFormSent" class="form__text">
                <h3 class="form__title title title--h2">Success!</h3>
                <p class="form__text text text--lg">
                  Congratulations, <strong>{{ fullName }}</strong>! <br />
                  The instructions have just been sent to
                  <strong>{{ this.form.email }}</strong>. <br />
                  (test mode, no actual letter is sent)
                </p>
              </div>
              <div v-if="!form.isFormSent" class="form__field">
                <div class="form__input">
                  <input
                    v-model="$v.form.firstName.$model"
                    :class="{
                    'input--invalid': $v.form.firstName.$error,
                    'input--valid': !$v.form.firstName.$error && $v.form.firstName.$dirty }"
                    class="input input--capitalize"
                    type="text"
                    placeholder="First Name"
                    type="text"
                  />
                  <p
                    v-if="!$v.form.firstName.required && $v.form.firstName.$error"
                    class="text text--md text--bold text--error"
                  >
                    First name is required
                  </p>
                  <p
                    v-else-if="!$v.form.firstName.alpha && $v.form.firstName.$error"
                    class="text text--md text--bold text--error"
                  >
                    English characters only
                  </p>
                </div>
                <div class="form__input">
                  <input
                    v-model="$v.form.lastName.$model"
                    type="text"
                    :class="{
                    'input--invalid': $v.form.lastName.$error,
                    'input--valid': !$v.form.lastName.$error && $v.form.lastName.$dirty }"
                    class="input input--capitalize"
                    placeholder="Last Name"
                  />
                  <p
                    v-if="!$v.form.lastName.required && $v.form.lastName.$error"
                    class="text text--md text--bold text--error"
                  >
                    Last name is required
                  </p>
                  <p
                    v-else-if="!$v.form.lastName.alpha && $v.form.lastName.$error"
                    class="text text--md text--bold text--error"
                  >
                    English characters only
                  </p>
                </div>
                <div class="form__input">
                  <input
                    v-model="$v.form.email.$model"
                    :class="{
                    'input--invalid': $v.form.email.$error,
                    'input--valid': !$v.form.email.$error && $v.form.email.$dirty }"
                    class="input"
                    placeholder="email@example.com"
                  />
                  <p
                    v-if="!$v.form.email.required && $v.form.email.$error"
                    class="text text--md text--bold text--error"
                  >
                    E-mail is required
                  </p>
                  <p
                    v-if="!$v.form.email.email && $v.form.email.$error"
                    class="text text--md text--bold text--error"
                  >
                    E-mail must be valid
                  </p>
                </div>
              </div>
              <button
                v-if="!form.isFormSent"
                @click.prevent="submitForm()"
                :disabled="$v.form.$invalid"
                class="form__btn base-btn"
              >
                Get Started For Free
              </button>
              <button
                v-if="form.isFormSent"
                @click.prevent="refreshForm()"
                class="form__btn base-btn"
              >
                Request Again
              </button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
