.input {
  height: 48px;
  width: 100%;
  max-width: 280px;
  padding: 0;
  padding-left: 15px;
  outline: none;
  border: none;
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
  box-sizing: border-box;

  &--capitalize {
    text-transform: capitalize;
  }

  &--invalid {
    border: 3px solid red;
  }

  &--valid {
    border: 3px solid green;
  }
}
